*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    margin: 1em;
    width: 95%;
    text-align: center;
}
table th {
    font-size: larger;
    text-decoration: underline;
}

body{
    background-color: #1A5E63;
}
h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
}
h3{
    margin-top: 0;
    color: #fff;
    font-size: 1.8em;
}

div{
    margin: 1em;
    padding: 1em;
    height: fit-content;
    background:#1aab897a;
    color: #fff;
    border-radius: 1em;
}

button {
    background:#1AAB8A;
    margin: 0 1em 0 1em;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 1em;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
  }

input{
    border-radius: 1em;
    height: 2em;
    width: 40em;
    font-size: 1em;
    text-align: center;
    background-color: #bdfff05b;
}

.bandera{
    height: 4em;
    margin-left: 10em;
}

.notamostrada{
    font-size: 7em;
    text-align: center;
    color: white;
    width: 100%;
    height: 4em;
    text-align: center;
    align-items: center;
    background-color: #1AAB8A;
}
.notamostrada p {
    margin: 0;
    padding: 0;
}
.table{
    color: white;
    font-size: 2em;
    background-color: #1AAB8A;
    border-radius: 1em;
}

.footer {
    color: #fff;
    background-color: #1AAB8A;
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

.resultado{
     font-size: 2em;
}