*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1A5E63;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 90px;
    background-color:#1A5E63;
}

nav h1 {
    padding: 1em;
    background-color: #1A5E63;
    font-size:2em ;
    color: #fff;
}

button {
    background:#1A5E63;
    margin: 1em 1em 1em 1em;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
button:hover{
    background:#fff;
    color:#1AAB8A;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A5E63;
    font-size: 1em;
}

.bienvenida{
    display: flex;
    height: 9em;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: 700;
    background-color: #1aab897a ;
    color: white;
}

.pSaludo{
    background-color:#1aab897a  ;
}

.logIn{
    background-color:#1aab897a;
    margin: 2em;
    padding: 2em;
    width: fit-content;
    height:fit-content;
    border-radius:2em;
    font-size: 1.3em;
}

.logIn input {
    display: block;
    background-color: white;
    width: 100%;
}

h2, h3{
    padding: 0;
    color: white;
}

footer {
    height: 100%;
    background-color:#1A5E63;
    font-size: 1.2em;
}

footer .img-footer {
      height: 7em;
      width: 10em; }
footer ul {
    display: flex;
    justify-content: space-between;
}
footer ul li {
    justify-content: space-between;
    list-style: none; 
    color: #fff;
}
footer ul li img {
        height: 3em;
        width: 3em;
        padding-left: 2em;
} 
a{
    text-decoration: none;
    color:#1aab897a 
}